In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from tqdm import tqdm
import seaborn as sns
pd.set_option('display.max_columns',None)
from sklearn.metrics import roc_auc_score
import pickle
import dill
TARGET = 'answered_correctly'

In [3]:
base = pd.read_feather('../features/all_data/BASE_FIX_train.feather')
# loop = pd.read_feather('../features/all_data/LOOP_FIX_TIME2_valid.feather')
# roll_mean = pd.read_feather('../features/all_data/ROLLING_MEAN2_valid.feather')
# roll_part_mean = pd.read_feather('../features/all_data/ROLLING_PART_MEAN3_valid.feather')

In [3]:
df = pd.concat([base,loop,roll_mean,roll_part_mean],axis=1)

In [4]:
del base,loop,roll_mean,roll_part_mean

In [5]:
df.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,viretual_time_stamp,bundle_id,correct_answer,part,tags,tags1,tags2,tags3,tags4,tags5,tags6,community,part_community,ans_user_avg,ans_user_count,elapsed_time_user_avg,elapsed_time_user_sum,explanation_user_avg,first_bundle,ans_content_avg,elapsed_time_content_avg,explanation_content_avg,lag_time_1,lag_time_2,lag_time_3,lag_incorrect_time,lag_part_time_1,lag_part_time_2,lag_part_time_3,ans_user_part_avg,user_content_count,user_part_count,rolling_mean_10,rolling_mean_3,rolling_part_mean_10,rolling_part_mean_3
0,8805,0,45001,7900,0,0,3,0,NaN,0,86008635065,7900,0,1,131 93 81,131.0,93.0,81.0,NaN,NaN,NaN,2,12,NaN,0.0,NaN,NaN,NaN,7900.0,0.826225,3655.702637,0.076402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
1,8806,21730,45001,7876,0,1,0,0,24000.0,0,86008656795,7876,3,1,10 94 92,10.0,94.0,92.0,NaN,NaN,NaN,2,12,0.000000,1.0,0.000000,0.0,0.0,7900.0,0.418575,22636.619141,0.121566,21730.0,NaN,NaN,21730.0,21730.0,NaN,NaN,0.0,0,1,NaN,NaN,NaN,NaN
2,8807,42763,45001,175,0,2,2,1,19000.0,0,86008677828,175,2,1,9 10 92,9.0,10.0,92.0,NaN,NaN,NaN,2,12,0.000000,2.0,12000.000000,24000.0,0.0,7900.0,0.359887,23052.126953,0.137739,21033.0,42763.0,NaN,21033.0,21033.0,42763.0,NaN,0.0,0,2,NaN,NaN,NaN,NaN
3,8808,61018,45001,1278,0,3,1,0,18000.0,0,86008696083,1278,3,2,143 140 81 29,143.0,140.0,81.0,29.0,NaN,NaN,2,22,0.333333,3.0,14333.333008,43000.0,0.0,7900.0,0.649971,23277.392578,0.059241,18255.0,39288.0,61018.0,39288.0,NaN,NaN,NaN,NaN,0,0,NaN,0.333333,NaN,NaN
4,8809,102918,45001,2065,0,4,0,0,15000.0,0,86008737983,2063,2,3,136 162 92 29,136.0,162.0,92.0,29.0,NaN,NaN,2,32,0.250000,4.0,15250.000000,61000.0,0.0,7900.0,0.634654,6907.790527,0.035685,41900.0,60155.0,81188.0,41900.0,NaN,NaN,NaN,NaN,0,0,NaN,0.333333,NaN,NaN

In [6]:
base[base['timestamp']==0]['user_id'].value_counts()

169979096     5
548695005     5
1348123353    5
1389188299    5
1521955180    5
             ..
824339687     1
1898822920    1
1477977503    1
1512691377    1
1912898069    1
Name: user_id, Length: 378461, dtype: int64

In [22]:
df[df['user_id'] == 311955038][['user_id','lag_time_1','lag_time_2','lag_time_3','lag_part_time_1','task_container_id','ans_user_count','timestamp','part']][100:150]

,user_id,lag_time_1,lag_time_2,lag_time_3,lag_part_time_1,task_container_id,ans_user_count,timestamp,part
372493,311955038,128661.0,401843.0,657723.0,128661.0,2967,4269.0,14183382077,7
372494,311955038,128661.0,401843.0,657723.0,128661.0,2967,4269.0,14183382077,7
372495,311955038,148008.0,276669.0,549851.0,148008.0,2968,4271.0,14183530085,7
372496,311955038,148008.0,276669.0,549851.0,148008.0,2968,4271.0,14183530085,7
372497,311955038,148008.0,276669.0,549851.0,148008.0,2968,4271.0,14183530085,7
372498,311955038,221712.0,369720.0,498381.0,221712.0,2969,4274.0,14183751797,7
372499,311955038,221712.0,369720.0,498381.0,221712.0,2969,4274.0,14183751797,7
372500,311955038,221712.0,369720.0,498381.0,221712.0,2969,4274.0,14183751797,7
372501,311955038,7818695.0,8040407.0,8188415.0,7818695.0,2970,4277.0,14191570492,7
372502,311955038,7818695.0,8040407.0,8188415.0,7818695.0,2970,4277.0,14191570492,7
372503,311955038,280405.0,8099100.0,8320812.0,280405.0,2971,4279.0,14191850897,7
372504,311955038,280405.0,8099100.0,8320812.0,280405.0,2971,4279.0,14191850897,7
372505,311955038,280405.0,8099100.0,8320812.0,280405.0,2971,4279.0,14191850897,7
372506,311955038,280405.0,8099100.0,8320812.0,280405.0,2971,4279.0,14191850897,7
372507,311955038,156671.0,437076.0,8255771.0,156671.0,2972,4283.0,14192007568,7
372508,311955038,156671.0,437076.0,8255771.0,156671.0,2972,4283.0,14192007568,7
372509,311955038,156671.0,437076.0,8255771.0,156671.0,2972,4283.0,14192007568,7
372510,311955038,168540.0,325211.0,605616.0,168540.0,2973,4286.0,14192176108,7
372511,311955038,168540.0,325211.0,605616.0,168540.0,2973,4286.0,14192176108,7
372512,311955038,192232.0,360772.0,517443.0,192232.0,2974,4288.0,14192368340,7
372513,311955038,192232.0,360772.0,517443.0,192232.0,2974,4288.0,14192368340,7
372514,311955038,192232.0,360772.0,517443.0,192232.0,2974,4288.0,14192368340,7
372515,311955038,192232.0,360772.0,517443.0,192232.0,2974,4288.0,14192368340,7
372516,311955038,255768.0,448000.0,616540.0,166529568.0,2975,4292.0,14192624108,2
372517,311955038,30898.0,286666.0,478898.0,30898.0,2976,4293.0,14192655006,2
372518,311955038,35882.0,66780.0,322548.0,35882.0,2977,4294.0,14192690888,2
372519,311955038,38135.0,74017.0,104915.0,38135.0,2978,4295.0,14192729023,2
372520,311955038,57633.0,95768.0,131650.0,57633.0,2979,4296.0,14192786656,2
372521,311955038,55652.0,113285.0,151420.0,55652.0,2980,4297.0,14192842308,2
372522,311955038,34622.0,90274.0,147907.0,34622.0,2981,4298.0,14192876930,2
372523,311955038,32748.0,67370.0,123022.0,32748.0,2982,4299.0,14192909678,2
372524,311955038,32640.0,65388.0,100010.0,32640.0,2983,4300.0,14192942318,2
372525,311955038,27887.0,60527.0,93275.0,27887.0,2984,4301.0,14192970205,2
372526,311955038,26868.0,54755.0,87395.0,26868.0,2985,4302.0,14192997073,2
372527,311955038,33222.0,60090.0,87977.0,33222.0,2986,4303.0,14193030295,2
372528,311955038,31080.0,64302.0,91170.0,31080.0,2987,4304.0,14193061375,2
372529,311955038,43567.0,74647.0,107869.0,43567.0,2988,4305.0,14193104942,2
372530,311955038,43583.0,87150.0,118230.0,43583.0,2989,4306.0,14193148525,2
372531,311955038,38000.0,81583.0,125150.0,38000.0,2990,4307.0,14193186525,2
372532,311955038,33097.0,71097.0,114680.0,33097.0,2991,4308.0,14193219622,2
372533,311955038,27329.0,60426.0,98426.0,27329.0,2992,4309.0,14193246951,2
372534,311955038,45356.0,72685.0,105782.0,45356.0,2993,4310.0,14193292307,2
372535,311955038,58927.0,104283.0,131612.0,58927.0,2994,4311.0,14193351234,2
372536,311955038,40193.0,99120.0,144476.0,40193.0,2995,4312.0,14193391427,2
372537,311955038,39887.0,80080.0,139007.0,39887.0,2996,4313.0,14193431314,2
372538,311955038,37854.0,77741.0,117934.0,37854.0,2997,4314.0,14193469168,2
372539,311955038,38791.0,76645.0,116532.0,38791.0,2998,4315.0,14193507959,2
372540,311955038,31073.0,69864.0,107718.0,31073.0,2999,4316.0,14193539032,2
372541,311955038,72672968.0,72704048.0,72742832.0,73843664.0,3000,4317.0,14266212003,7
372542,311955038,72672968.0,72704048.0,72742832.0,73843664.0,3000,4317.0,14266212003,7

In [16]:
df['user_id'].value_counts()

119665027     7125
660727631     6290
2020092283    6188
119647028     5891
311955038     5494
              ...
422515494        1
1027087421       1
2110023886       1
1534058183       1
1868480379       1
Name: user_id, Length: 25298, dtype: int64

In [45]:
df[df['user_id'] == 45001][['user_id','part','answered_correctly','first_bundle','ans_user_count','ans_content_avg','prior_question_elapsed_time',\
    'prior_question_elapsed_time','elapsed_time_user_sum','elapsed_time_user_avg','bundle_id']][:100]

,user_id,part,answered_correctly,first_bundle,ans_user_count,ans_content_avg,prior_question_elapsed_time,prior_question_elapsed_time,elapsed_time_user_sum,elapsed_time_user_avg,bundle_id
0,45001,1,0,7900.0,0.0,0.900000,NaN,NaN,NaN,NaN,7900
1,45001,1,0,7900.0,1.0,0.307692,24000.0,24000.0,0.0,0.000000,7876
2,45001,1,1,7900.0,2.0,0.461538,19000.0,19000.0,24000.0,12000.000000,175
3,45001,2,0,7900.0,3.0,0.777778,18000.0,18000.0,43000.0,14333.333008,1278
4,45001,3,0,7900.0,4.0,0.727273,15000.0,15000.0,61000.0,15250.000000,2063
5,45001,3,1,7900.0,4.0,0.000000,15000.0,15000.0,61000.0,15250.000000,2063
6,45001,3,0,7900.0,4.0,0.545455,15000.0,15000.0,61000.0,15250.000000,2063
7,45001,4,0,7900.0,7.0,0.444444,13000.0,13000.0,76000.0,10857.142578,3363
8,45001,4,0,7900.0,7.0,0.222222,13000.0,13000.0,76000.0,10857.142578,3363
9,45001,4,0,7900.0,7.0,0.111111,13000.0,13000.0,76000.0,10857.142578,3363
10,45001,4,0,7900.0,10.0,0.125000,1000.0,1000.0,89000.0,8900.000000,2946
11,45001,4,0,7900.0,10.0,0.125000,1000.0,1000.0,89000.0,8900.000000,2946
12,45001,4,0,7900.0,10.0,0.125000,1000.0,1000.0,89000.0,8900.000000,2946
13,45001,4,1,7900.0,13.0,0.500000,1333.0,1333.0,90000.0,6923.077148,2593
14,45001,4,1,7900.0,13.0,0.500000,1333.0,1333.0,90000.0,6923.077148,2593
15,45001,4,0,7900.0,13.0,0.500000,1333.0,1333.0,90000.0,6923.077148,2593
16,45001,5,0,7900.0,16.0,0.250000,1666.0,1666.0,91333.0,5708.312500,4492
17,45001,5,0,7900.0,17.0,0.125000,6000.0,6000.0,92999.0,5470.529297,4120
18,45001,5,0,7900.0,18.0,0.750000,9000.0,9000.0,98999.0,5499.944336,4696
19,45001,5,0,7900.0,19.0,0.125000,11000.0,11000.0,107999.0,5684.157715,6116
20,45001,5,1,7900.0,20.0,0.222222,2000.0,2000.0,118999.0,5949.950195,6173
21,45001,5,0,7900.0,21.0,0.625000,1000.0,1000.0,120999.0,5761.856934,6370
22,45001,6,0,7900.0,22.0,0.444444,1000.0,1000.0,121999.0,5545.409180,6877
23,45001,6,0,7900.0,22.0,0.333333,1000.0,1000.0,121999.0,5545.409180,6877
24,45001,6,1,7900.0,22.0,0.666667,1000.0,1000.0,121999.0,5545.409180,6877
25,45001,6,1,7900.0,22.0,0.222222,1000.0,1000.0,121999.0,5545.409180,6877
26,45001,7,0,7900.0,26.0,0.125000,2750.0,2750.0,122999.0,4730.730957,7216
27,45001,7,0,7900.0,26.0,0.125000,2750.0,2750.0,122999.0,4730.730957,7216
28,45001,7,0,7900.0,26.0,0.500000,2750.0,2750.0,122999.0,4730.730957,7216
29,45001,7,0,7900.0,26.0,0.500000,2750.0,2750.0,122999.0,4730.730957,7216

In [32]:
df['user_id'][:10000].unique()[:20]

array([  45001,  176102,  238966,  260489,  357865,  364452,  459017,
        592864,  616513,  653826,  702591, 1024273, 1108398, 1186307,
       1298591, 1321608, 1547989, 1647850, 1857371, 1960671])

In [37]:
df[df['user_id'] == 45001]['task_container_id'].value_counts()

15    4
14    4
7     3
6     3
5     3
4     3
13    1
12    1
11    1
10    1
9     1
8     1
3     1
2     1
1     1
0     1
Name: task_container_id, dtype: int64

In [21]:
df[['user_id','bundle_id','content_id','timestamp','lag_time_1','lag_time_2','lag_time_3','elapsed_time_user_sum','ans_user_count','user_content_count']].iloc[260:280]

,user_id,bundle_id,content_id,timestamp,lag_time_1,lag_time_2,lag_time_3,elapsed_time_user_sum,ans_user_count,user_content_count
260,8623,10688,10688,172041830,47966.0,110165.0,155028.0,846000.0,40.0,0.0
261,8623,675,675,172087052,45222.0,93188.0,155387.0,862000.0,41.0,1.0
262,8623,651,651,172110923,23871.0,69093.0,117059.0,880000.0,42.0,1.0
263,8623,7744,7747,320281387,148170464.0,148194336.0,148239552.0,897000.0,43.0,0.0
264,8623,7744,7748,320281387,148170464.0,148194336.0,148239552.0,914000.0,43.0,0.0
265,8623,7744,7745,320281387,148170464.0,148194336.0,148239552.0,931000.0,43.0,0.0
266,8623,7744,7744,320281387,148170464.0,148194336.0,148239552.0,948000.0,43.0,0.0
267,8623,7744,7746,320281387,148170464.0,148194336.0,148239552.0,965000.0,43.0,0.0
268,8623,7190,7193,331424277,11142890.0,159313360.0,159337232.0,982000.0,48.0,0.0
269,8623,7190,7190,331424277,11142890.0,159313360.0,159337232.0,1059000.0,48.0,0.0
270,8623,7190,7192,331424277,11142890.0,159313360.0,159337232.0,1136000.0,48.0,0.0
271,8623,7190,7194,331424277,11142890.0,159313360.0,159337232.0,1213000.0,48.0,0.0
272,8623,7190,7191,331424277,11142890.0,159313360.0,159337232.0,1290000.0,48.0,0.0
273,8623,7421,7425,342655255,11230978.0,22373868.0,170544336.0,1367000.0,53.0,0.0
274,8623,7421,7424,342655255,11230978.0,22373868.0,170544336.0,1425400.0,53.0,0.0
275,8623,7421,7422,342655255,11230978.0,22373868.0,170544336.0,1483800.0,53.0,0.0
276,8623,7421,7421,342655255,11230978.0,22373868.0,170544336.0,1542200.0,53.0,0.0
277,8623,7421,7423,342655255,11230978.0,22373868.0,170544336.0,1600600.0,53.0,0.0
278,8623,39,39,405185132,62529876.0,73760856.0,84903744.0,1659000.0,58.0,0.0
279,8623,130,130,405221449,36317.0,62566192.0,73797168.0,1733600.0,59.0,0.0

In [15]:
a = [1,2,3]
for i,j in enumerate(a):
    i,j

In [16]:
i

2