In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from tqdm import tqdm
import seaborn as sns
pd.set_option('display.max_columns',None)
from sklearn.metrics import roc_auc_score
import pickle
import dill
TARGET = 'answered_correctly'

In [25]:
with open('../features/all_data/loop_feats6.dill','rb') as f:
    d = dill.load(f)

In [26]:
d['user_list']

defaultdict(list,
            {115: [46, 32, 896999.0, 6, 5692],
             124: [30, 7, 544997.0, 0, 7900],
             2746: [19, 11, 325000.0, 11, 5273],
             5382: [125, 84, 4470000.0, 113, 5000],
             8623: [109, 70, 2819600.0, 96, 3915],
             8701: [17, 10, 342000.0, 9, 3901],
             12741: [265, 152, 10516417.0, 250, 5145],
             13134: [1243, 878, 26853839.0, 1233, 3926],
             24418: [6283, 4337, 134463967.0, 6251, 7900],
             24600: [50, 17, 1113248.0, 19, 7900],
             32421: [30, 14, 791998.0, 0, 7900],
             40828: [92, 58, 2260665.0, 61, 7900],
             44331: [291, 171, 9039215.0, 280, 5542],
             46886: [44, 27, 741000.0, 35, 5059],
             50132: [74, 46, 1510000.0, 61, 4485],
             51285: [22, 12, 460000.0, 12, 5692],
             53842: [30, 7, 543997.0, 0, 7900],
             81002: [17, 9, 280000.0, 9, 3802],
             81429: [30, 14, 492998.0, 0, 7900],
             91216: [1182, 794, 22079179.0, 1150, 7900],
             45001: [30, 7, 197665.0, 0, 7900],
             176102: [30, 8, 758664.0, 0, 7900],
             238966: [17, 11, 320000.0, 16, 400],
             260489: [53, 36, 1323000.0, 43, 6347],
             357865: [15, 6, 424000.0, 7, 3710],
             364452: [17, 11, 375000.0, 9, 5971],
             459017: [20, 16, 315000.0, 20, 6224],
             592864: [4, 3, 457000.0, 4, 3642],
             616513: [30, 12, 953999.0, 0, 7900],
             653826: [10, 5, 166000.0, 9, 831],
             702591: [40, 25, 803496.0, 9, 7900],
             1024273: [587, 424, 19721427.0, 579, 5610],
             1108398: [30, 5, 673996.0, 0, 7900],
             1186307: [24, 12, 536000.0, 24, 4451],
             1298591: [90, 65, 1950000.0, 82, 5564],
             1321608: [17, 10, 253000.0, 9, 175],
             1547989: [30, 4, 500996.0, 0, 7900],
             1647850: [118, 56, 2583000.0, 55, 128],
             1857371: [10, 6, 225000.0, 9, 6143],
             1960671: [11, 7, 316000.0, 0, 4229],
             2000859: [72, 35, 1818413.0, 41, 7900],
             2199283: [17, 6, 466999.0, 3, 6375],
             2631645: [42, 19, 1068163.0, 11, 7900],
             2685790: [47, 28, 861000.0, 39, 5080],
             2726001: [10, 6, 155000.0, 10, 721],
             3065819: [265, 142, 8996846.0, 258, 8585],
             3093025: [2, 1, 55000.0, 2, 8459],
             3180340: [112, 67, 2624488.0, 112, 10106],
             3311379: [194, 119, 3501000.0, 183, 6213],
             3532660: [8, 3, 118000.0, 8, 4005],
             3539143: [60, 40, 1158000.0, 29, 128],
             3551713: [27, 22, 457000.0, 19, 5901],
             3646751: [103, 80, 1479000.0, 91, 8494],
             3700234: [30, 6, 992661.0, 0, 7900],
             3725210: [30, 10, 917997.0, 0, 7900],
             3737252: [45, 15, 1500900.0, 44, 5720],
             3782245: [16, 13, 641000.0, 16, 5339],
             3943073: [16, 7, 214000.0, 9, 1314],
             4108706: [12, 7, 208000.0, 12, 6439],
             4135123: [103, 80, 2161649.0, 102, 862],
             4203387: [20, 15, 433000.0, 9, 3567],
             4222121: [715, 617, 24030585.0, 714, 189],
             4421282: [3622, 2834, 67947792.0, 3622, 560],
             4437138: [68, 25, 2268663.0, 37, 7900],
             4508124: [548, 312, 17945946.0, 544, 6589],
             4508865: [20, 11, 383750.0, 19, 5701],
             4580228: [3, 2, 93999.0, 3, 2051],
             4607918: [11, 9, 235000.0, 0, 4425],
             4672258: [30, 16, 806331.0, 0, 7900],
             4719044: [80, 50, 1585000.0, 80, 1030],
             4746807: [303, 203, 9723229.0, 295, 6150],
             4769798: [14, 7, 288000.0, 14, 5905],
             4828831: [22, 14, 400000.0, 22, 5779],
             4872589: [6, 3, 157000.0, 5, 71],
             5000764: [921, 605, 23515434.0, 921, 6777],
             5013438: [19, 11, 343000.0, 11, 4086],
             5050044: [1, 0, 19000.0, 0, 8626],
             5103696: [592, 451, 10131741.0, 592, 1363],
             5229096: [71, 37, 1599000.0, 71, 5378],
             5243685: [391, 241, 10102902.0, 385, 4436],
             5494272: [27, 18, 676000.0, 19, 4055],
             5496582: [49, 38, 983000.0, 49, 1183],
             5504898: [30, 13, 666663.0, 0, 7900],
             5529131: [22, 16, 317000.0, 10, 4065],
             5545246: [11, 8, 182000.0, 0, 4461],
             5768827: [9, 3, 196000.0, 1, 4121]})

In [41]:
base = pd.read_feather('../features/all_data/BASE_FIX_valid.feather')
loop = pd.read_feather('../features/all_data/LOOP_FIX_TIME2_valid.feather')
loop2 = pd.read_feather('../features/all_data/ROLLING_MEAN2_valid.feather')

In [42]:
df = pd.concat([base,loop,loop2],axis=1)

In [43]:
del base,loop

In [44]:
df.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,viretual_time_stamp,bundle_id,correct_answer,part,tags,tags1,tags2,tags3,tags4,tags5,tags6,community,part_community,ans_user_avg,ans_user_count,elapsed_time_user_avg,elapsed_time_user_sum,explanation_user_avg,first_bundle,ans_content_avg,elapsed_time_content_avg,explanation_content_avg,lag_time_1,lag_time_2,lag_time_3,lag_incorrect_time,lag_part_time_1,lag_part_time_2,lag_part_time_3,ans_user_part_avg,user_content_count,user_part_count,rolling_mean_10,rolling_mean_3
0,8805,0,45001,7900,0,0,3,0,NaN,0,86008635065,7900,0,1,131 93 81,131.0,93.0,81.0,NaN,NaN,NaN,2,12,NaN,0.0,NaN,NaN,NaN,7900.0,0.900000,4400.000000,0.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,8806,21730,45001,7876,0,1,0,0,24000.0,0,86008656795,7876,3,1,10 94 92,10.0,94.0,92.0,NaN,NaN,NaN,2,12,0.000000,1.0,0.000000,0.0,0.0,7900.0,0.307692,23000.000000,0.230769,21730.0,NaN,NaN,21730.0,21730.0,NaN,NaN,0.0,0.0,1.0,NaN,NaN
2,8807,42763,45001,175,0,2,2,1,19000.0,0,86008677828,175,2,1,9 10 92,9.0,10.0,92.0,NaN,NaN,NaN,2,12,0.000000,2.0,12000.000000,24000.0,0.0,7900.0,0.461538,24092.308594,0.307692,21033.0,42763.0,NaN,21033.0,21033.0,42763.0,NaN,0.0,0.0,2.0,NaN,NaN
3,8808,61018,45001,1278,0,3,1,0,18000.0,0,86008696083,1278,3,2,143 140 81 29,143.0,140.0,81.0,29.0,NaN,NaN,2,22,0.333333,3.0,14333.333008,43000.0,0.0,7900.0,0.777778,22000.000000,0.000000,18255.0,39288.0,61018.0,39288.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.333333
4,8809,102918,45001,2065,0,4,0,0,15000.0,0,86008737983,2063,2,3,136 162 92 29,136.0,162.0,92.0,29.0,NaN,NaN,2,32,0.250000,4.0,15250.000000,61000.0,0.0,7900.0,0.727273,5000.000000,0.090909,41900.0,60155.0,81188.0,41900.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.333333

In [45]:
df[df['user_id'] == 45001][['user_id','part','answered_correctly','first_bundle','ans_user_count','ans_content_avg','prior_question_elapsed_time',\
    'prior_question_elapsed_time','elapsed_time_user_sum','elapsed_time_user_avg','bundle_id']][:100]

,user_id,part,answered_correctly,first_bundle,ans_user_count,ans_content_avg,prior_question_elapsed_time,prior_question_elapsed_time,elapsed_time_user_sum,elapsed_time_user_avg,bundle_id
0,45001,1,0,7900.0,0.0,0.900000,NaN,NaN,NaN,NaN,7900
1,45001,1,0,7900.0,1.0,0.307692,24000.0,24000.0,0.0,0.000000,7876
2,45001,1,1,7900.0,2.0,0.461538,19000.0,19000.0,24000.0,12000.000000,175
3,45001,2,0,7900.0,3.0,0.777778,18000.0,18000.0,43000.0,14333.333008,1278
4,45001,3,0,7900.0,4.0,0.727273,15000.0,15000.0,61000.0,15250.000000,2063
5,45001,3,1,7900.0,4.0,0.000000,15000.0,15000.0,61000.0,15250.000000,2063
6,45001,3,0,7900.0,4.0,0.545455,15000.0,15000.0,61000.0,15250.000000,2063
7,45001,4,0,7900.0,7.0,0.444444,13000.0,13000.0,76000.0,10857.142578,3363
8,45001,4,0,7900.0,7.0,0.222222,13000.0,13000.0,76000.0,10857.142578,3363
9,45001,4,0,7900.0,7.0,0.111111,13000.0,13000.0,76000.0,10857.142578,3363
10,45001,4,0,7900.0,10.0,0.125000,1000.0,1000.0,89000.0,8900.000000,2946
11,45001,4,0,7900.0,10.0,0.125000,1000.0,1000.0,89000.0,8900.000000,2946
12,45001,4,0,7900.0,10.0,0.125000,1000.0,1000.0,89000.0,8900.000000,2946
13,45001,4,1,7900.0,13.0,0.500000,1333.0,1333.0,90000.0,6923.077148,2593
14,45001,4,1,7900.0,13.0,0.500000,1333.0,1333.0,90000.0,6923.077148,2593
15,45001,4,0,7900.0,13.0,0.500000,1333.0,1333.0,90000.0,6923.077148,2593
16,45001,5,0,7900.0,16.0,0.250000,1666.0,1666.0,91333.0,5708.312500,4492
17,45001,5,0,7900.0,17.0,0.125000,6000.0,6000.0,92999.0,5470.529297,4120
18,45001,5,0,7900.0,18.0,0.750000,9000.0,9000.0,98999.0,5499.944336,4696
19,45001,5,0,7900.0,19.0,0.125000,11000.0,11000.0,107999.0,5684.157715,6116
20,45001,5,1,7900.0,20.0,0.222222,2000.0,2000.0,118999.0,5949.950195,6173
21,45001,5,0,7900.0,21.0,0.625000,1000.0,1000.0,120999.0,5761.856934,6370
22,45001,6,0,7900.0,22.0,0.444444,1000.0,1000.0,121999.0,5545.409180,6877
23,45001,6,0,7900.0,22.0,0.333333,1000.0,1000.0,121999.0,5545.409180,6877
24,45001,6,1,7900.0,22.0,0.666667,1000.0,1000.0,121999.0,5545.409180,6877
25,45001,6,1,7900.0,22.0,0.222222,1000.0,1000.0,121999.0,5545.409180,6877
26,45001,7,0,7900.0,26.0,0.125000,2750.0,2750.0,122999.0,4730.730957,7216
27,45001,7,0,7900.0,26.0,0.125000,2750.0,2750.0,122999.0,4730.730957,7216
28,45001,7,0,7900.0,26.0,0.500000,2750.0,2750.0,122999.0,4730.730957,7216
29,45001,7,0,7900.0,26.0,0.500000,2750.0,2750.0,122999.0,4730.730957,7216

In [32]:
df['user_id'][:10000].unique()[:20]

array([  45001,  176102,  238966,  260489,  357865,  364452,  459017,
        592864,  616513,  653826,  702591, 1024273, 1108398, 1186307,
       1298591, 1321608, 1547989, 1647850, 1857371, 1960671])

In [37]:
df[df['user_id'] == 45001]['task_container_id'].value_counts()

15    4
14    4
7     3
6     3
5     3
4     3
13    1
12    1
11    1
10    1
9     1
8     1
3     1
2     1
1     1
0     1
Name: task_container_id, dtype: int64

In [21]:
df[['user_id','bundle_id','content_id','timestamp','lag_time_1','lag_time_2','lag_time_3','elapsed_time_user_sum','ans_user_count','user_content_count']].iloc[260:280]

,user_id,bundle_id,content_id,timestamp,lag_time_1,lag_time_2,lag_time_3,elapsed_time_user_sum,ans_user_count,user_content_count
260,8623,10688,10688,172041830,47966.0,110165.0,155028.0,846000.0,40.0,0.0
261,8623,675,675,172087052,45222.0,93188.0,155387.0,862000.0,41.0,1.0
262,8623,651,651,172110923,23871.0,69093.0,117059.0,880000.0,42.0,1.0
263,8623,7744,7747,320281387,148170464.0,148194336.0,148239552.0,897000.0,43.0,0.0
264,8623,7744,7748,320281387,148170464.0,148194336.0,148239552.0,914000.0,43.0,0.0
265,8623,7744,7745,320281387,148170464.0,148194336.0,148239552.0,931000.0,43.0,0.0
266,8623,7744,7744,320281387,148170464.0,148194336.0,148239552.0,948000.0,43.0,0.0
267,8623,7744,7746,320281387,148170464.0,148194336.0,148239552.0,965000.0,43.0,0.0
268,8623,7190,7193,331424277,11142890.0,159313360.0,159337232.0,982000.0,48.0,0.0
269,8623,7190,7190,331424277,11142890.0,159313360.0,159337232.0,1059000.0,48.0,0.0
270,8623,7190,7192,331424277,11142890.0,159313360.0,159337232.0,1136000.0,48.0,0.0
271,8623,7190,7194,331424277,11142890.0,159313360.0,159337232.0,1213000.0,48.0,0.0
272,8623,7190,7191,331424277,11142890.0,159313360.0,159337232.0,1290000.0,48.0,0.0
273,8623,7421,7425,342655255,11230978.0,22373868.0,170544336.0,1367000.0,53.0,0.0
274,8623,7421,7424,342655255,11230978.0,22373868.0,170544336.0,1425400.0,53.0,0.0
275,8623,7421,7422,342655255,11230978.0,22373868.0,170544336.0,1483800.0,53.0,0.0
276,8623,7421,7421,342655255,11230978.0,22373868.0,170544336.0,1542200.0,53.0,0.0
277,8623,7421,7423,342655255,11230978.0,22373868.0,170544336.0,1600600.0,53.0,0.0
278,8623,39,39,405185132,62529876.0,73760856.0,84903744.0,1659000.0,58.0,0.0
279,8623,130,130,405221449,36317.0,62566192.0,73797168.0,1733600.0,59.0,0.0

In [15]:
a = [1,2,3]
for i,j in enumerate(a):
    i,j

In [16]:
i

2